html {
  font-size: 20px;
}

body {
  font-size: 1em; // workaround for chrome bug
  line-height: 1.6;
  font-weight: 200;
  font-family: $font-family-sans;
  color: $font-color;
  background-color: $black;
  background: $background-gradient-main;
}

a {
  color: $font-color;
}

hr {
  margin-top: 3rem;
  margin-bottom: 3.5rem;
  border-width: 0;
  border-top: 1px solid $gray-light;
}
