.chapter-view {
  padding: 2rem;
}

.chapter-view,
.chapter-view--loading {
  @include fadeIn(0.5s);
  text-align: left;
}

.chapter-view__back {
  opacity: 0.7;
  position: fixed;
}

.chapter-view__chapters {
  text-align: center;
}

.chapter-view--loading {
  text-align: center;
  padding-top: 30%;
  opacity: 0.5;
}
