.book-list-item {
  @include fullColumns(4);
  @include fadeIn(0.5s);
  list-style: none;
  text-align: center;
  margin: 0;
  background-color: $black;
  border: 1px solid $gray-darker;
}

.book-list-item__link {
  display: inline-block;
  padding: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
}

.book-list-item__title {
  white-space: nowrap;
  display: absolute;
}

.book-list-item__image {
  height: 300px;
  opacity: 0.7;
  background-color: $black;
  width: 100%;
}
