.book-list-item {
  @include fadeIn(0.5s);
  list-style: none;
  text-align: center;
  margin: 3px;
  background-color: $black;
  width: 200px;
  display: inline-block;
  height: 300px;
  position: relative;
  &:hover {
    background-color: $gray-light;
  }
}

.book-list-item__link {
  padding: 0;
  border: 0;
  overflow: hidden;
  height: 100%;
  display: block;
  background-color: $black;
  opacity: 0.9;
}

.book-list-item__options {
  position: absolute;
  overflow: hidden;
  left: 0;
  top: 90%;
  width: 100%;
  height: 10%;
  padding-top: 15px;
  text-overflow: ellipsis;
  white-space: nowrap;
  background-color: $book-list-item-options-color;
}

.book-list-item__title {}

.book-list-item__image {
  width: 100%;
  min-height: 300px;
  min-width: 200px;
  opacity: 0.9;
}
